<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KextsToPatch</key>
	<array>
		<dict>
			<key>Comment</key>
			<string>Realtek ALC898 AppleHDA Patch (1 of 2)</string>
			<key>Find</key>
			<data>ixnUEQ==</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>mQjsEA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>Realtek ALC898 AppleHDA Patch (2 of 2) (10.11+)</string>
			<key>Find</key>
			<data>gxnUEQ==</data>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>AAAAAA==</data>
		</dict>
	</array>
</dict>
</plist>
