<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13CA598</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.iMac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iMac Configuation Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>GeForce</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nvidia.web.GeForceWeb</string>
			<key>IOClass</key>
			<string>nvAccelerator</string>
			<key>IODVDBundleName</key>
			<string>GeForceVADriverWeb</string>
			<key>IOGLBundleName</key>
			<string>GeForceGLDriverWeb</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOProbeScore</key>
			<integer>130</integer>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>NVArch</key>
					<string>GF100</string>
					<key>NVDAType</key>
					<string>Web</string>
					<key>nubType</key>
					<string>NVDAgl</string>
					<key>unmatched</key>
					<string>yes</string>
				</dict>
				<dict>
					<key>NVArch</key>
					<string>GK100</string>
					<key>NVDAType</key>
					<string>Web</string>
					<key>nubType</key>
					<string>NVDAgl</string>
					<key>unmatched</key>
					<string>yes</string>
				</dict>
				<dict>
					<key>NVArch</key>
					<string>GM100</string>
					<key>NVDAType</key>
					<string>Web</string>
					<key>nubType</key>
					<string>NVDAgl</string>
					<key>unmatched</key>
					<string>yes</string>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>IOSourceVersion</key>
			<string>1.2.0.31.0</string>
			<key>IOVABundleName</key>
			<string>GeForceVADriverWeb</string>
			<key>IOVARendererID</key>
			<data>
			CAAEAQ==
			</data>
			<key>IOVARendererSubID</key>
			<data>
			AwAAAA==
			</data>
			<key>MetalPluginClassName</key>
			<string>NVMTLDevice</string>
			<key>MetalPluginName</key>
			<string>GeForceMTLDriverWeb</string>
		</dict>
		<key>NVDAStartup</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nvidia.NVDAStartupWeb</string>
			<key>IOClass</key>
			<string>NVDAStartupWeb</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IOPCIClassMatch</key>
			<string>0x03000000&amp;0xff000000</string>
			<key>IOPCIMatch</key>
			<string>0x000010de&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>200000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NVDAType</key>
			<string>Web</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
