<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Rename SAT0 to SATA</string>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename SPTn to PRTn</string>
					<key>Find</key>
					<data>U1BU</data>
					<key>Replace</key>
					<data>UFJU</data>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string></string>
		<key>IgnoreNVRAMBoot</key>
		<false/>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>StrictHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>en:0</string>
		<key>Theme</key>
		<string>OSS</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Replace iMac12,2 with iMac13,2</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Find</key>
				<data>aU1hYzEyLDIK</data>
				<key>Replace</key>
				<data>aU1hYzEzLDIK</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change regdomain to US-FCC (1 of 2)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Find</key>
				<data>g7sgCAAABnRk</data>
				<key>Replace</key>
				<data>g7sgCAAABus2</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change regdomain to US-FCC (2 of 2)</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AirPort.Atheros40</string>
				<key>Find</key>
				<data>ZseDFgkAAEMAZrhDAA==</data>
				<key>Replace</key>
				<data>ZseDFgkAAAAAZrgAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable default hub port injectors</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBHub</string>
				<key>Find</key>
				<data>bW9kZWw=</data>
				<key>Replace</key>
				<data>bW9kZXg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable default XHC port injectors</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.11.x,10.12.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Find</key>
				<data>bW9kZWw=</data>
				<key>Replace</key>
				<data>bW9kZXg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>QVBQTEUgU1NE</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAA</data>
			</dict>
		</array>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable Ivy Bridge XCPM (credit: Pike R. Alpha)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Find</key>
				<data>g8PEg/si</data>
				<key>Replace</key>
				<data>g8PGg/si</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable XCPM PKG Scope MSRs (credit: Pike R. Alpha)</string>
				<key>Disabled</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Find</key>
				<data>vgcAAAAx0uiU/P//</data>
				<key>Replace</key>
				<data>vgcAAAAx0pCQkJCQ</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>iMac13,2</string>
		<key>PlatformFeature</key>
		<integer>1</integer>
		<key>SerialNumber</key>
		<string></string>
		<key>SmUUID</key>
		<string></string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<true/>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
