<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.0 by theracermaster</string>
	<key>CFBundleIdentifier</key>
	<string>xyz.racermaster.injector.GenericUSBXHCIPCI</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Injector for VIA VL800 xHCI Controller</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBXHCIVL800</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
			<key>IOClass</key>
			<string>AppleUSBXHCIFL1100</string>
			<key>IOPCIPauseCompatible</key>
			<true/>
			<key>IOPCIPrimaryMatch</key>
			<string>0x11063432</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.usb.AppleUSBXHCI</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.4</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>16.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
